In [1]:
# import the dependencies
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
city_data=pd.read_csv('weather_data/cities.csv')
city_data.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tuktoyaktuk,CA,2020-01-02 19:32:22,69.44,-133.03,-13.00,75,75,14.99
1,1,Avarua,CK,2020-01-02 19:31:37,-21.21,-159.78,77.00,73,83,2.24
2,2,Albany,US,2020-01-02 19:32:22,42.65,-73.75,45.00,52,20,6.93
3,3,Haines Junction,CA,2020-01-02 19:32:23,60.75,-137.51,-2.94,99,72,5.44
4,4,Flagstaff,US,2020-01-02 19:28:25,35.20,-111.65,52.00,37,1,14.99

In [3]:
# Configure gmaps to use Google API key.
gmaps.configure(api_key=g_key)

In [12]:
# Get the maximum temperature
max_temp=city_data['Max Temp']
temps=[]
for temp in max_temp:
    temps.append(max(temp,0))

In [13]:
# Heatmap of temperature
locations=city_data[['Lat','Lng']]
max_temp=city_data['Max Temp']
fig=gmaps.figure()
heat_layer=gmaps.heatmap_layer(locations, weights=temps)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of temperature with maxtemp list comprehension
locations=city_data[['Lat','Lng']]
max_temp=city_data['Max Temp']
fig=gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                              dissipating=False,max_intensity=300,point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent humidity.
locations=city_data[['Lat','Lng']]
humidity=city_data['Humidity']
fig=gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations,weights=humidity,
                               dissipating=False,max_intensity=300,point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of percent cloudiness
locations=city_data[['Lat','Lng']]
clouds=city_data['Cloudiness']
fig=gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations,weights=clouds,
                              dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of Wind Speed
locations=city_data[['Lat','Lng']]
wind=city_data['Wind Speed']
fig=gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations,weights=wind,
                              dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp=float(input("What is the minimum temperature you would like for your trip? "))
max_temp=float(input('What is the maximum temperature you would like for your trip? '))

# Filter the dataset to find the cities that fit the criteria.
preferred_cities=city_data.loc[(city_data['Max Temp']<=max_temp)& \
                               (city_data['Max Temp']>= min_temp)]
preferred_cities.head(10)

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 100

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Georgetown,GY,2020-01-02 19:32:24,6.80,-58.16,86.00,65,20,9.17
8,8,Trinidad,BO,2020-01-02 19:29:38,-14.83,-64.90,84.20,79,75,4.70
11,11,Buchanan,LR,2020-01-02 19:32:25,5.88,-10.05,80.60,83,20,3.60
16,16,Arraial Do Cabo,BR,2020-01-02 19:32:27,-22.97,-42.02,86.00,74,75,6.93
17,17,San Patricio,PY,2020-01-02 19:32:27,-26.98,-56.83,85.98,49,67,9.42
21,21,Hithadhoo,MV,2020-01-02 19:32:28,-0.60,73.08,82.69,78,0,13.13
35,35,Pointe-Noire,CG,2020-01-02 19:32:32,-4.80,11.85,84.20,83,40,8.05
41,41,Boa Vista,BR,2020-01-02 19:29:05,2.82,-60.67,91.40,36,40,13.87
42,42,Maragogi,BR,2020-01-02 19:32:35,-9.01,-35.22,80.64,82,10,11.34
44,44,Barrow,AR,2020-01-02 19:28:04,-38.31,-60.23,83.77,32,16,10.63

In [33]:
preferred_cities.count()

City_ID       88
City          88
Country       87
Date          88
Lat           88
Lng           88
Max Temp      88
Humidity      88
Cloudiness    88
Wind Speed    88
dtype: int64

In [35]:
# Create DataFrame called hotel_df 
hotel_df=preferred_cities[['City','Country','Max Temp','Lat','Lng']].copy()
hotel_df['Hotel Name']=''
hotel_df.head(10)

               City Country  Max Temp    Lat    Lng Hotel Name
7        Georgetown      GY     86.00   6.80 -58.16
8          Trinidad      BO     84.20 -14.83 -64.90
11         Buchanan      LR     80.60   5.88 -10.05
16  Arraial Do Cabo      BR     86.00 -22.97 -42.02
17     San Patricio      PY     85.98 -26.98 -56.83
21        Hithadhoo      MV     82.69  -0.60  73.08
35     Pointe-Noire      CG     84.20  -4.80  11.85
41        Boa Vista      BR     91.40   2.82 -60.67
42         Maragogi      BR     80.64  -9.01 -35.22
44           Barrow      AR     83.77 -38.31 -60.23

In [44]:
# set the parameters to search for a hotel in PAris.
params={
    'radius':5000,
    'types':'lodging',
    'key':g_key}
# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude
    lat=row['Lat']
    lng=row['Lng']
    
    # Add the latitude and longitude to the params dictionary as values to the location key
    params['location']=f'{lat},{lng}'
    
    # Use the search term: 'lodging' and our latitude and longitude
    base_url='https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    # Make requests and get the JSON data from th esearch
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index,"Hotel Name"]=hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found... skipping.')

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [46]:
hotel_df.head()

               City Country  Max Temp    Lat    Lng           Hotel Name
7        Georgetown      GY     86.00   6.80 -58.16      Kanhai's Center
8          Trinidad      BO     84.20 -14.83 -64.90         Hotel Piesta
11         Buchanan      LR     80.60   5.88 -10.05  Kamaneahn Hotel Inc
16  Arraial Do Cabo      BR     86.00 -22.97 -42.02  Pousada Porto Praia
17     San Patricio      PY     85.98 -26.98 -56.83   Granja "La Blanca"

In [51]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
hotel_info=[info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [52]:
locations=hotel_df[['Lat','Lng']]
max_temp=hotel_df['Max Temp']
fig=gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations, weights=max_temp,
                       dissipating=False,max_intensity=300, point_radius=4)
marker_layer=gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))