In [100]:
import pandas as pd
import gmaps
import requests
from citipy import citipy
from config import g_key
import numpy
from datetime import datetime
import time
from scipy.stats import linregress

In [102]:
city_data=pd.read_csv('challenge_weather_data/WeatherPy_vacation.csv', index_col=0)
city_data.head()

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
City_ID,,,,,,,
0,Rikitea,PF,77.20,-23.12,-134.97,broken clouds,Pension Maro'i
2,Pedasi,PA,83.05,7.53,-80.03,broken clouds,Selina Pedasi
6,Arraial Do Cabo,BR,77.00,-22.97,-42.02,light rain,Pousada Porto Praia
10,Port-Gentil,GA,78.80,-0.72,8.78,thunderstorm with light rain,Fengshui Residence
12,Nha Trang,VN,77.00,12.24,109.19,scattered clouds,Hanoi Golden Hotel

In [104]:
au_cities=city_data.loc[(city_data['Country']=='AU')]
au_cities

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
City_ID,,,,,,,
43,Bluff,AU,72.23,-23.58,149.07,broken clouds,Bluff Hotel
177,Nelson Bay,AU,73.40,-32.72,152.14,overcast clouds,Mantra Nelson Bay
182,Mount Isa,AU,77.00,-20.73,139.49,overcast clouds,ibis Styles Mt Isa Verona
261,Bowen,AU,73.40,-20.01,148.25,broken clouds,Rose Bay Resort
343,Roebourne,AU,81.91,-20.77,117.15,overcast clouds,Harding River Caravan Park
359,Lithgow,AU,73.40,-33.48,150.16,overcast clouds,Zig Zag Motel
402,Port Macquarie,AU,73.40,-31.43,152.91,overcast clouds,Rydges Port Macquarie
442,Mareeba,AU,77.00,-16.99,145.42,broken clouds,Mareeba Country Caravan Park
445,Rockhampton,AU,71.60,-23.38,150.51,overcast clouds,Travelodge Hotel Rockhampton
469,Codrington,AU,71.60,-28.95,153.24,clear sky,NaN
505,Nambucca Heads,AU,71.60,-30.64,152.99,clear sky,Marcel Towers Holiday Apartments

In [108]:
lithgow=au_cities.loc[au_cities['City']=='Lithgow']
nelson_bay=au_cities.loc[au_cities['City']=='Nelson Bay']
port_macquarie=au_cities.loc[au_cities['City']=='Port Macquarie']
nambucca_heads=au_cities.loc[au_cities['City']=='Nambucca Heads']

lithgow

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
City_ID,,,,,,,
359,Lithgow,AU,73.4,-33.48,150.16,overcast clouds,Zig Zag Motel

In [112]:
au_vac_cities=au_cities.loc[au_cities['City'].isin(['Lithgow','Nelson Bay','Port Macquarie','Nambucca Heads'])]
au_vac_cities

,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
City_ID,,,,,,,
177,Nelson Bay,AU,73.4,-32.72,152.14,overcast clouds,Mantra Nelson Bay
359,Lithgow,AU,73.4,-33.48,150.16,overcast clouds,Zig Zag Motel
402,Port Macquarie,AU,73.4,-31.43,152.91,overcast clouds,Rydges Port Macquarie
505,Nambucca Heads,AU,71.6,-30.64,152.99,clear sky,Marcel Towers Holiday Apartments

In [95]:
import gmaps.datasets
gmaps.configure(api_key=g_key)

In [117]:
lithgow_t=(-33.48,150.16)
nelson_bay_t=(-32.72,152.14)
port_macquarie_t=(-31.43,152.91)
nambucca_heads_t=(-30.64,152.99)

fig=gmaps.figure()
au_map=gmaps.directions_layer(lithgow_t, nambucca_heads_t, waypoints=[nelson_bay_t,port_macquarie_t], travel_mode='DRIVING')
fig.add_layer(au_map)
fig

Figure(layout=FigureLayout(height='420px'))

In [118]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
hotel_info=[info_box_template.format(**row) for index, row in au_vac_cities.iterrows()]

In [119]:
locations=au_vac_cities[['Lat','Lng']]
fig=gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
marker_layer=gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))